a {
  text-decoration: none;
  color:blue;
}
a:hover {
  text-decoration: underline;
}
#locations ul,
#locations li.continent{
  list-style: none;
  margin:0;
  padding:0;
  display: inline-table;
  color:white;
}
#location ul {
  min-width:986px;
}
#locations li.continent {
  padding:5px 23px;
  background-color: black;
  position:relative;
}
#locations ul.areas {
  display:none;
  position:absolute;
  left:0;
  z-index: 100;
}
#locations ul.areas li {
  padding:5px 23px;
  background-color: black;
  width:100%;
}
#locations ul.areas.on {
  display:block;
}
#locations a {
  text-decoration: none;
  color:white;
}
#locations li:hover {
  background-color: grey;
}
#locations ul.areas li:hover {
  background-color:grey;
}
#locations li.selected,
#locations ul.areas li.selected{
  background-color: #CCCCCC;
}
#credits{
  font-size:12px;
  margin-top:25px;
}
#credits p{
  margin:0;
}