<!DOCTYPE html>
<html>
  <head>
    <title>Google Maps API with AngularJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="projects/angular-maps/data.json"></script>
    <style>
      html, body, .container, #map{
        height:100%;
      }
    </style>
  </head>
  <body ng-app="mapsApp" ng-controller="MapsCtrl">
    <div class="col-md-4">
      <div class="page-header">
        <h1>Google Maps API with AngularJS <small>A small sample of binding markers in Google Maps the external links using AngularJS</small></h1>        
      </div>
      
      <table class="table table-hover" ng-show="cities">
        <thead>
          <tr>
            <th>City</th>
            <th>Team Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="city in cities" ng-click="openInfoWindow($event, city)">
            <td>{{city.name}}</td>
            <td>{{city.team}}</td>
          </tr>  
        </tbody>      
      </table>
    </div>
    <div id="map" class="col-md-8"></div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="projects/angular-maps/script.js"></script>
  </body>
</html>