---
layout: default
---

<h1>Suvi's House</h1>
<p>{{site.description}}</p>
<div class="mdl-components__note">
	<p>I am sharing a live stream of Google I/O 2016 over <a href="/google-io-2016">here</a>, feel free to watch!<br>To learn more about Google I/O 2016, click <a href="https://google.com/io" target="_blank">here</a>.</p>
</div>
{% for cat in site.category_pages %}
	{% if site.categories[cat.category-id] %}
		<h2>{{ cat.category-name }}</h2>
		<div class="mdl-grid">
			{% for post in site.categories[cat.category-id] limit:6 %}
			<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-mobile">
			{% include components/post-card.html data=post %}
			</div>
			{% endfor %}
		</div>
	{% endif %}
{% endfor %}