<!DOCTYPE html>
<html lang="en" ng-app="ngSanitize">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Suvi's Github Pages</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <script src="assets/js/projects.json"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.min.js"></script>
    <script src="assets/js/controllers.js"></script>
        
  </head>
  <body data-spy="scroll" data-target=".navbar" ng-controller="ProjectEntriesCtrl">
    <!-- Responsive Navbar -->
    <div class="navbar navbar-fixed-top navbar">
      <div class="navbar-inner">
        <div class="container">
     
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
     
          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href="//github.com/svignara">Suvi's GitHub Home</a>
     
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc -->
            <ul class="nav">
              <li class="active"><a href="#projects">Projects</a></li>
              <li><a href="#aboutme">About Me</a></li>
            </ul>            
          </div>
     
        </div>
      </div>
    </div>
    
    <!-- body container  -->
    <div class="container">
        <div id="projects" class="row-fluid">
            <h1>Projects</h1>
            <p>Below are a list of projects that I just mash together to try out some of the cool new APIs out there.</p>
            <p>You'll find a link to the project, a brief description of the project, the technologies that are used, relevant files and any other notes.</p>            
            <form class="form-search form-horizontal">
              <label class="control-label" for="searchInput">Filter Projects by Keyword:</label>
              <input id="searchInput" type="text" class="input-medium search-query" ng-model="query" placeholder="Keywords...">
            </form>
            <div class="projects-list">
                <div class="row-fluid" ng-repeat="project in projects | filter:query">
                    <h2><a href="{{project.link}}" target="_blank">{{project.name}}</a></h2>
                    <h3>{{project.desc.title}}</h3>
                    <p>{{project.desc.content}}</p>
                    <h3>{{project.tech.title}}</h3>
                    <ul>
                      <li ng-repeat="techs in project.tech.items">{{techs.snippet}}</li>
                    </ul>
                    <h3>{{project.files.title}}</h3>
                    <ul>
                        <li ng-repeat="files in project.files.items">{{files.title}}<p ng-bind-html="files.snippet"></p></li>
                    </ul>
                    <p><b>{{project.notes}}</b></p>
                </div>                
            </div>
        </div>
        
        <div id="aboutme" class="row-fluid">
            <h1>About Me</h1>
            <div class="alert alert-info alert-block">
            <h2>Coming Soon...</h2>
            <p class="lead">Stay tuned, I will be describing a little about myself in this section.</p>
            <p class="lead">For the time being please feel free to checkout the following:</p>
            <ul class="unstyled">
                <li><a href="//twitter.com/suvi_v">Twitter</a></li>
                <li><a href="//ca.linkedin.com/pub/suvethan-suvi-vignarajah/37/28/484/">LinkedIn</a></li>
                <li><a href="//plus.google.com/117762890357185510789/">Google+</a></li>
                <li><a href="//stackoverflow.com/users/1417588/suvi-vignarajah">Stackoverflow</a></li>
                <li><a href="//jsfiddle.net/user/svigna/fiddles/">Jsfiddle</a></li>
                <li><a href="//github.com/svignara">Github</a></li>
            </ul>
            </div>
        </div>
    </div>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>