<!DOCTYPE html>
<html lang="en" ng-app>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Natural Disasters | Suvi's Projects</title>
    <meta name="viewport" content="width=device-width">

    <!-- Styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <!--<link href="css/bootstrap/bootstrap-responsive.css" rel="stylesheet" media="screen">-->
    <link href="projects/NaturalDisastersCanada/css/style.css" rel="stylesheet">

    <script src="projects/NaturalDisastersCanada/js/lib/angular.js"></script>
    <script src="projects/NaturalDisastersCanada/js/controller.js"></script>

  </head>

  <body>
    
    <div class="row-fluid">
      
      <div id="contentContainer" class="container span3">
        
        <div id="heading" class="page-header">
          <h1>Natural Disasters</h1>
          <p><small class="muted"><em><strong>Note: </strong>All natural disaster data displayed in this application is owned by the <a href="http://cdd.publicsafety.gc.ca/srchpg-eng.aspx" target="_blank">Canadian Disaster Database</a>.</em></small></p>
        </div>

        <div id="queryForm">
          <form class="form-horizontal">
            <div class="control-group">
              <p class="text-info">1. Select a Province</p>
              <label class="control-label" for="province">Province</label>
              <div class="controls">
                <select id="province">
                  <option value="1,2,3,4,5,6,7,8,9,10,11,12,13">All Provinces</option>
                  <option value="1">Alberta</option>
                  <option value="2">British Columbia</option>
                  <option value="3">Manitoba</option>
                  <option value="4">New Brunswick</option>
                  <option value="5">Newfoundland & Lab.</option>
                  <option value="6">Nova Scotia</option>
                  <option value="7">Northwest Territories</option>
                  <option value="8">Nunavut</option>
                  <option value="9">Ontario</option>
                  <option value="10">Prince Edward Island</option>                  
                  <option value="11">Quebec</option>
                  <option value="12">Saskatchewan</option>
                  <option value="13">Yukon</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <p class="text-info">2. Select an Event</p>
              <label class="control-label" for="disaster">Disaster</label>
              <div class="controls">
                <select id="disaster">
                  <option value="">--Select Disaster Type--</option>
                  <option value="AV">Avalanche</option>
                  <option value="FL">Flood</option>
                  <option value="HU">Hurricane/Typhoon/Tropical Storm</option>
                  <option value="ST">Storms (and Severe Thunderstorms)</option>
                  <option value="TO">Tornado</option>
                  <option value="WF">Wildfire</option>
                  <option value="SW">Winter Storm</option>
                  <option value="EQ">Earthquake</option>
                  <option value="LS">Landslide</option>
                  <option value="TS">Tsunami</option>                 
                </select>
              </div>
            </div>
            <div id="timePeriod" class="control-group">
              <p class="text-info">3. Enter a time period (data available from 1900)</p>
              <div>
                <label class="control-label" for="startYear">From</label>
                <div class="controls">
                  <input type="number" id="startYear" placeholder="YYYY" min=1900>
                </div>
              </div>
              <div>
                <label class="control-label" for="endYear">To</label>
                <div class="controls">
                  <input type="number" id="endYear" placeholder="YYYY" min=1900>
                </div>
              </div>
            </div>
            <div class="control-group">
              <p class="text-info">4. Search Events</p>
              <div class="controls">                
                <button type="submit" id="searchEvents" class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>

        <div id="eventsListContainer" ng-controller="EventsListCtrl">
          <div id="triggerListSlide" class="open-state"><a href="#"><span class="open-text">Open &uarr;</span><span class="close-text">Close &darr;</span></a></div>
          <h2>Events List</h2>
          <div id="resultFilters">
            <div id="totalResults" class="text-info">
              Total: {{events.length}}
            </div>
            <div id="filterResults">
              <label for="angularSort">Sort By:</label>
              <select ng-model="orderProp" name="angularSort">
                <option value="properties.LABEL">Alphabetical</option>
                <option value="properties.EVENT_START_DATE">Date</option>
              </select>
            </div>
          </div>
          <div id="eventsList">
            <strong>{{message}}</strong>
            <ul>
              <li ng-repeat="event in events | orderBy:orderProp">
                <strong>{{event.properties.LABEL}}</strong>
                <p>{{event.properties.EVENT_START_DATE}}</p>
              </li>
            </ul>
          </div>
        </div>

      </div>
      
      <div id="mapContainer" class="container span9">
        <div id="mapCanvas"></div>
      </div>

    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script> 
    <script src="projects/NaturalDisastersCanada/js/lib/markerclusterer.js"></script>
    <script src="projects/NaturalDisastersCanada/js/lib/oms.min.js"></script>
    <script src="projects/NaturalDisastersCanada/js/script.js"></script>

  </body>
</html>