<!DOCTYPE html>
<html lang="en" ng-app="ngSanitize">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Suvi's Github Pages</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">

    <script src="assets/js/projects.json"></script>
    <script src="assets/js/tabs.json"></script>
    <script src="assets/js/bio.json"></script>
    <script src="assets/js/skills.json"></script>
    <script src="assets/js/experiences.json"></script>
    <script src="assets/js/networks.json"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.min.js"></script>
    <script src="assets/js/controllers.js"></script>

  </head>
  <body data-spy="scroll" data-target=".navbar" ng-cloak class="ng-cloak">
    <!-- Responsive Navbar -->
    <div class="navbar navbar-fixed-top navbar">
      <div class="navbar-inner">
        <div class="container">

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href="//github.com/svignara">Suvi's GitHub Home</a>

          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc -->
            <ul class="nav">
                <li class="active"><a href="#projects">Projects</a></li>
                <li><a href="#aboutme">About Me</a></li>
                <li><a href="/">Suvi's New House</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <!-- body container  -->
    <div class="container">

        <div id="projects" class="row-fluid" ng-controller="ProjectEntriesCtrl">
            <h1>Projects</h1>
            <p>Below are a list of projects that I just mash together to try out some of the cool new APIs out there.</p>
            <p>You'll find a link to the project, a brief description of the project, the technologies that are used, relevant files and any other notes.</p>
            <form class="form-search form-horizontal">
              <label class="control-label" for="searchInput">Filter Projects by Keyword:</label>
              <input id="searchInput" type="text" class="input-medium search-query" ng-model="query" placeholder="Keywords...">
            </form>
            <div class="projects-list">
                <div class="row-fluid" ng-repeat="project in projects | filter:query | orderBy:'name'">
                    <h2><a href="{{project.link}}" target="_blank">{{project.name}}</a></h2>
                    <h3>{{project.desc.title}}</h3>
                    <p ng-bind-html="project.desc.content"></p>
                    <h3>{{project.tech.title}}</h3>
                    <ul>
                      <li ng-repeat="techs in project.tech.items">{{techs.snippet}}</li>
                    </ul>
                    <h3>{{project.files.title}}</h3>
                    <ul>
                        <li ng-repeat="files in project.files.items">{{files.title}}<p ng-bind-html="files.snippet"></p></li>
                    </ul>
                    <p><b>{{project.notes}}</b></p>
                </div>
            </div>
        </div>

        <div id="aboutme" class="row-fluid">
            <h1>About Me</h1>

            <div id="aboutme-container" class="well well-large container-fluid">
              <div class="row-fluid">
                <div id="profile-pic-holder" class="span2">
                    <img src="assets/images/suvi-profile.png" id="profile-pic" class="img-polaroid">
                </div>
                <div class="span10">
                    <div id="aboutme-tabs" class="tabbable" ng-controller="TabsCtrl"> <!-- Only required for left/right tabs -->
                      <ul class="nav nav-tabs">
                        <li ng-repeat="tab in tabs" class="{{tab.activeClass}}"><a href="{{tab.ref}}" data-toggle="tab">{{tab.heading}}</a></li>
                      </ul>

                      <div class="tab-content">

                        <div class="tab-pane active" id="tab1">
                            <table class="table table-bordered table-hover" ng-controller="BioCtrl">
                                <tr ng-repeat="info in bio">
                                    <td>{{info.type}}</td>
                                    <td ng-bind-html="info.value"></td>
                                </tr>
                            </table>
                        </div>

                        <div class="tab-pane" id="tab2">
                            <table class="table table-bordered table-hover" ng-controller="SkillsCtrl">
                                <tr ng-repeat="skill in skills">
                                    <td>{{skill.heading}}</td>
                                    <td>
                                        <ul>
                                            <li ng-repeat="specificSkill in skill.specificSkills" ng-bind-html="specificSkill.name"></li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="tab-pane" id="tab3" ng-controller="ExperiencesCtrl">
                            <div class="control">
                                <button class="btn btn-mini btn-primary on" type="button">Expand All</button>
                                <button class="btn btn-mini btn-danger" type="button">Collapse All</button>
                            </div>

                            <div class="experience well well-small" ng-repeat="exp in experiences">
                              <div class="experience-heading">
                                <a data-toggle="collapse" data-parent="" href="{{exp.contentRef}}">
                                    <h4>{{exp.role}}</h4>
                                    <p class="lead">{{exp.company}}</p>
                                    <p class="muted">{{exp.tenure}}</p>
                                </a>
                              </div>
                              <div id="{{exp.contentId}}" class="collapse">
                                <div class="accordion-inner experience-body">
                                    <ul>
                                        <li ng-repeat="responsibility in exp.responsibilities">{{responsibility.desc}}</li>
                                    </ul>
                                </div>
                              </div>
                            </div>

                            <div class="control bottom">
                                <button class="btn btn-mini btn-primary on" type="button">Expand All</button>
                                <button class="btn btn-mini btn-danger" type="button">Collapse All</button>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab4" ng-controller="NetworksCtrl">
                            <div class="well connections">
                            <ul class="unstyled">
                                <li ng-repeat="network in networks"><a rel="tooltip" data-placement="right" data-original-title="{{network.toolTip}}" href="{{network.link}}" target="_blank"><img ng-src="{{network.imgsrc}}" class="img-circle"><span>{{network.name}}</span></a></li>
                                <li><a rel="tooltip" data-placement="right" data-original-title="Check out some of my public fiddles" href="//jsfiddle.net/user/svigna/fiddles/" target="_blank">Jsfiddle</a></li>
                            </ul>
                            <a rel="tooltip" data-placement="right" data-original-title="Check out my StackOverflow profile" href="http://stackoverflow.com/users/1417588/suvi-vignarajah" target="_blank">
                                <img src="http://stackoverflow.com/users/flair/1417588.png?theme=clean" width="208" height="58" alt="profile for Suvi Vignarajah at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Suvi Vignarajah at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                            </a>
                            </div>
                        </div>

                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
