.pagination {
	margin: 0 auto;
}
.list-sort {
	display: block;
	width: 100%;
	margin: 30px 0 0;
}
.sort-controls > * {
	margin: 15px 0;
}
.sort-controls > *:first-child {
	margin-top: 0;
}
.movie-list {
	list-style: none;
	padding: 0;
	display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.movie-thumb {
	display: inline-block;
	width: 23%;
	margin: 15px 1%;
}
.movie-thumb > a {
	display: block;
	width: 100%;
}
.movie-thumb > a > img {
	max-width: 200px;
	width: 100%;
	margin: 0 auto;
	display: block;
	opacity: 0.7;
	transition: opacity 0.5s ease;
}
.movie-thumb > a:hover > img {
	opacity: 1;
}
#more-info .media-left {
	width: 40%;
}
#more-info .media-body {
	width: 60%;
}
#more-info .media-object {
	width: 100%;
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media only screen and (min-width: 768px){
	.list-sort {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.list-sort label {
		margin-left: 1%;
	}
	.sort-controls > * {
		width: 48%;
		margin: 0 1% 30px;
		float: left;
	}
	.movie-list {
		margin: 15px 0;
	}
}