<article class="post-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ include.data.title }}</h2>
    </div>
    <div class="mdl-card__supporting-text post-card__date">{{ include.data.date | date: "%b %-d, %Y" }}</div>
    <div class="mdl-card__supporting-text">{{ include.data.description }}</div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ include.data.url }}">Read more</a>
    </div>
</article>